<!DOCTYPE html>
<html>
<head>
    <title>re:chattr stream prototype</title>

    <link rel="stylesheet" href="css/main.css"/>

    <script src="components/jquery/jquery.js"></script>
    <script src="components/underscore/underscore.js"></script>
    <script src="components/backbone/backbone.js"></script>
    <script src="components/backbone.marionette/lib/backbone.marionette.js"></script>
    <script src="components/bootstrap/docs/assets/js/bootstrap.js"></script>

    <script src="js/views/poll.js"></script>
    <script src="js/views/question.js"></script>
    <script src="js/views/comment.js"></script>

    <script src="js/generator.js"></script>
    <script src="js/rendering.js"></script>
    <script src="js/main.js"></script>
</head>
<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="logo">re:</div>
            <div class="event-info">
                <div class="event-title">My Prototype Event</div>
                <div class="event-detail">Michael, 6pm 6/9/2013</div>
            </div>
        </div>

        <div class="span7">
            <div class="stream"></div>
        </div>
    </div>
</div>

<script type="text/template" id="poll-template">
    <div class="text"><%=text%></div>
    <div class="choices">
        <% for (var i in choices) { %>
        <div class="choice">
            <div class="count"><%=answers[i]%></div>
            <div class="choice-label"><%=choices[i]%></div>
        </div>
        <% } %>
    </div>
</script>

<script type="text/template" id="question-template">
    <div class="text"><%=text%></div>
</script>

<script type="text/template" id="comment-template">
    <div class="image"></div>
    <div class="body">
        <div class="author"><%=author%></div>
        <% if (typeof screenname !== 'undefined') { %>
            <div class="screen-name"><%=screenname%></div>
        <% } %>
        <div class="text"><%=text%></div>
    </div>
</script>

</body>
</html>